* {box-sizing: border-box}
    body{
    font-family: 'Noto Sans JP', sans-serif;
    }
    h1,label
    {
        text-align: center;
        color: #FF6699;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        resize: vertical;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.2);
        }
    button 
    {
        background-color: #FF6699;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 15px;
    }
    button:hover {
        opacity:1;
        }
    a
    {
        text-decoration: none;
        display: block;
        color:white;
        width: 100%;
        border-radius: 40px;
        text-align: center;
        background: #FF6699;
        height: 40px;
        line-height: 40px;
        float: left;
        margin-top: 13px;
        opacity: 0.9;
    }
    a:first-child
    {
        margin-top: 30px;
    }
    a:hover
    {
        opacity: 2.5;
    }